# db config
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

#redis config
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_USERNAME=

# global config
PORT=
BASE_URL=
JWT_SECRET=
JWT_EXPIRED_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRED_IN=

# mail config
MAIL_SERVICE=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=